<div class="container">
    <h1>Character finder</h1>
    <form>
        <div class="form-group">
            <input type="text" name="character-name" class="form-control" #charactername placeholder="Enter Character Name">
        </div>
        <button (click)="getCharacterDetails(charactername.value)" type="submit" class="btn btn-primary">Get Character Details</button> 
    </form>

    <div class="row bg-light mt-4 p-4" *ngIf="characterData">
        <div? class="col-sm-4">
            <div>
                <h3>{{characterData.Error}}</h3>
            </div>
            <div *ngIf="characterData.name">
                <img src="{{characterData.image}}">
            </div>
        </div?>

        <div class="col-sm-8">
            <div *ngIf="characterData.name">
                <h1>{{characterData.name}}</h1>
                <h2>Status: {{characterData.status}}</h2>
            </div>
        </div>
    </div>
</div>