<div class="container">
    <h1>Character finder - Jack Malone S00199917</h1>
    <form>
        <div class="form-group">
            <input type="text" name="character-name" class="form-control" #charactername
                placeholder="Enter Character Name" value='rick'>
        </div>
        <button (click)="getCharacterDetails(charactername.value)" type="submit" class="btn btn-primary">Get Character
            Details</button>
    </form>

    <div *ngFor="let character of characterData.results">
        <div class="card text-white bg-dark border-dark mb-3" style="width: 18rem;">
            <div class="img-wrapper">
                <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}.png" class="fader hover">
            </div>

            <div class="card-body">
                <h5 class="card-title" class="fader">{{character.name}}</h5>

                <p class="card-text" class="fader">Status: {{character.status}}</p>
            </div>
            <ul class="list-group list-group-flush" class="fader">
                <li class="list-group-item bg-dark">Species: {{character.species}}</li>
                <li class="list-group-item bg-dark">Gender: {{character.gender}}</li>
                <li class="list-group-item bg-dark">Origin: {{character.origin.name}}</li>
                <li class="list-group-item bg-dark">Current Location:<br>{{character.location.name}}</li>
            </ul>
            <div class="card-body" class="fader" id="shakey">
                <button class="btn-primary">Favorite</button>
            </div>
        </div>
    </div>
</div>